<div class="record">
    <div  id="headers" class="boss-table-time" style="border: none;">
        
        <div id="details">
            <span id="name"><strong>Name</strong></span>
            <span id="map"><strong>Location</strong></span>
        </div>

        <div>
            <span id="slain"><strong>Time Slain</strong></span>
        </div>

        <div id="spawn">
            <div>
                <span><strong>Respawn Information</strong></span>
            </div>
        </div>

    </div>
</div>