<%- include('./includes/header') %>

    <main>

        <div class="menu-title text-center">

            <h1>What do you want to do now?</h1>

            <hr class="underline">
            
            <div class="menu">
                <div class="menu-option">
                    <a href="/respawn-table">View Time Table!</a>
                </div>

                <div class="menu-option">
                    <a href="/database-table">Change Database Details!</a>
                </div>
            </div>

        </div>

    </main>

<%- include('./includes/footer') %>